page-category {
    .theInput{
        width: 90%;
    }
    ion-col{
        border: 2px solid black
    }
    .textField{

        border-top: 1px solid rgb(103,156,254);
        border-left: 1px solid rgb(103,156,254);
        border-right: 1px solid rgb(103,156,254);
    }

    .slant{
        width: 0px;
        height: 0px;
        border-bottom: 50px solid rgba(0, 0, 255, 0);
        border-left: 100vw solid rgb(248,248,248);
    }
}
