page-category {
    text-align: center;
    .theBody{
        background: rgb(239, 239, 239);
        animation: 1s bounceInDown;
    }

    .slant{
        width: 0px;
        height: 0px;
        border-bottom: 80px solid rgba(0, 0, 255, 0);
        border-left: 100vw solid #222;
    }
    img{
        box-shadow: 0px 2px 10px black;
        width: 100%;
        height: 100%;
        max-width:250px;
        max-height: 250px;
    }


    @media screen and (min-width: 0px) {
        @media screen and (max-width: 321px){
       
            #scroll-content{
                // background: red;
                margin-top: -70px;
            }
            img{
                height: 90px;
                width: 90px;
                border: 2px solid white;
            }
            .rot{
                width: 125vw;
                height: 30vh;
                transform: rotate(-20deg);
                margin-top: -105px;
                margin-left: -70px;
                background: #222;
            }
        }
    } 
    @media screen and (min-width: 322px) {
        @media screen and (max-width: 360px){
            #scroll-content{
                // background: red;
                margin-top: -70px;
            }
            img{
                height: 100px;
                width: 100px;
                border: 2px solid white;
            }
            .rot{
                width: 125vw;
                height: 30vh;
                transform: rotate(-20deg);
                margin-top: -120px;
                margin-left: -70px;
                background: #222;
            }
        }
    }     
    @media screen and (min-width: 361px) {
        @media screen and (max-width: 414px){
            @media screen and (max-height: 732px){
                           #scroll-content{
                background: green;
                margin-top: -80px;
            }
            img{
                height: 120px;
                width: 120px;
                border: 2px solid white;
            }
            .rot{
                width: 125vw;
                height: 30vh;
                transform: rotate(-20deg);
                margin-top: -140px;
                margin-left: -70px;
                background: #222;
            }
            }
            @media screen and (min-height: 740px){
                @media screen and (max-height: 813px){
                    #scroll-content{
                        background: rgb(186, 255, 186);
                        margin-top: -80px;
                    }
                    img{
                        height: 120px;
                        width: 120px;
                        border: 2px solid white;
                    }
                    .rot{
                        width: 125vw;
                        height: 30vh;
                        transform: rotate(-20deg);
                        margin-top: -170px;
                        margin-left: -70px;
                        background: #222;
                    }
                }
            }
        }
    }
    @media screen and (min-width:411px){
        @media screen and (max-width:769px){
            @media screen and (max-height: 739px){
            #scroll-content{
                // background: rgb(255, 0, 234);
                margin-top: -80px
            }
            img{
                height: 120px;
                width: 120px;
                border: 2px solid white;
            }
            .rot{
                width: 125vw;
                height: 30vh;
                transform: rotate(-20deg);
                margin-top: -150px;
                margin-left: -70px;
                background: #222;
            }
            }
        }
    }
    @media screen and (min-width:770px){
        @media screen and (max-width:1025px){
            #scroll-content{
                background: red;
                margin-top: -130px;
            }
            img{
                height: 250px;
                width: 250px;
                border: 2px solid white;
            }
            ion-grid{
                width: 100%;
                max-width: 830px;
            }
            .rot{
                width: 125vw;
                height: 30vh;
                transform: rotate(-15deg);
                margin-top: -300px;
                margin-left: -120px;
                background: #222;
            }
        }
    }
    @media screen and (min-width: 760px){
        @media screen and (max-width: 850px){
            #scroll-content{
                // background: red;
                text-align: center;
                margin-top: -110px;
            }
            img{
                height: 220px;
                width: 220px;
                border: 2px solid white;
            }
            ion-grid{
                
                width: 100%;
                max-width: 830px;
            }
            .rot{
                width: 125vw;
                height: 30vh;
                transform: rotate(-15deg);
                margin-top: -200px;
                margin-left: -120px;
                background: #222;
            }

        }

    }
}
