page-splash {
    .body{
        background: linear-gradient(#00cfee, #00e5c3ab);
        height: 100%; 
    }
    .logo{
        width: 100%;
        max-width: 250px;
        align-content: center;
        margin-top: 50%
    }
    .theLogo{
        text-align: center;
    }

}
