page-signup {
    
div.scroll-content{

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // position: absolute;
    .everything{
        position: absolute;
        text-align: center;
        margin-top: 5%;
    }
    .mtop{
        width: 0px;
        height: 0px;
        border-top: 50vh solid rgba(34, 34, 34, 0.658);
        border-left: 115vw solid rgb(239, 239, 239);
        border-bottom: 50vh solid rgba(34, 34, 34, 0.658);
    }

    ion-header{
        position: absolute;
        ion-buttons{
            button{
                background-color: transparent;
               
                cursor: pointer;
                ion-icon{
                    color: black;
                    font-size: 200%;
                    font-weight: bolder;
                }
            }
        }
    }
        margin: 0%;
        div.logo{
            display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h1{
            height: 5em;
            width: 5em;
          }
    }

    ion-card{
        padding: 2px;
        background-color: rgba(255, 255, 255, 0.877);
        border-radius: 20px;
        box-shadow: 0 0 2px black;
        width: 95vw;

        // height: 40vh;
        margin-top: 3%;
        ion-item{
            margin: 1px;
            background-color: rgba(255, 255, 255, 0.329);
            ion-label{
                margin: 0%;
                color: black;
            }
            ion-input{
                margin: 0%;
            }
        }
        p{
            margin: 0%;
            text-align: right;
            font-weight: bold;
            // color: black;
        }
        button.btn2{
            border: none;
            box-shadow: 0 0 0.5px black;
            ion-icon{
                color: black;
            }
        }
    }

    }

 
}
